### C S 363D HW 3

## Decision Tree Classifier

## Fronrich Puno frp323
For this weeks homework we are going to explore ideas around decision tree implementation!  

We will implement some helper functions that would be necessary for a home-grown tree:
  - calc_entropy
  - calc_gini

And, calculate the gain ratio in the case of splitting the data up into individual council areas.
  
And finally, to make the prediction will make the functions (that should use the [Decision Tree Classifier](https://scikit-learn.org/stable/modules/tree.html#classification) class):

  
For this assignment, the stopping condition will be the depth of the tree, which should be configurable. The impurity measure can be either `Entropy` or `Gini`

To test our implementation, we will revist our Melbourne housing data (that has been cleaned and pruned) and use the files:

   - `melb_tree_train.csv` for training the decision tree
   - `melb_tree_test.csv` for testing the decision tree

There are 10 features in these dataframes that we can use to describe and predict the housing "Type", which is 'h' house, 'u' duplex, or 't' townhome.

In [1]:
# import the libraries!
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from math import log2
from sklearn import tree # Yes, you get to use scikit-learn this assignment, but only when \I say!
import graphviz

## Q1 Load the Data
Load in the melb_tree_train.csv into a dataframe, and split that dataframe into `df_X` containing the features of the data set (everything but `Type`), and `s_y`, the series containing just the label column (just `Type`)

In [2]:
# get main
df_main = pd.read_csv("melb_tree_train.csv");
df_main

,Rooms,Type,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea
0,2,t,771000.0,13.8,2.0,1.0,1.0,0.0,99.0,1992.0,Bayside
1,3,t,700000.0,7.9,3.0,2.0,1.0,189.0,110.0,1990.0,Banyule
2,3,u,975000.0,12.1,3.0,2.0,1.0,277.0,109.0,1975.0,Glen Eira
3,3,h,1290000.0,8.0,3.0,1.0,1.0,618.0,132.0,1960.0,Moonee Valley
4,2,u,500000.0,4.2,2.0,1.0,1.0,0.0,86.0,2000.0,Melbourne
...,...,...,...,...,...,...,...,...,...,...,...
805,2,t,855000.0,11.4,2.0,1.0,1.0,158.0,106.0,1994.0,Glen Eira
806,2,u,696000.0,2.6,2.0,2.0,1.0,0.0,68.0,2008.0,Yarra
807,2,t,520000.0,9.9,2.0,1.0,1.0,0.0,82.0,2011.0,Moreland
808,3,t,815000.0,4.3,3.0,2.0,2.0,198.0,130.0,1990.0,Maribyrnong
809,3,h,1302500.0,11.2,3.0,2.0,2.0,0.0,171.0,1993.0,Bayside

In [3]:
# split into df_x
df_x = df_main.copy()[df_main.columns.difference(['Type'])]
df_x

,Bathroom,Bedroom2,BuildingArea,Car,CouncilArea,Distance,Landsize,Price,Rooms,YearBuilt
0,1.0,2.0,99.0,1.0,Bayside,13.8,0.0,771000.0,2,1992.0
1,2.0,3.0,110.0,1.0,Banyule,7.9,189.0,700000.0,3,1990.0
2,2.0,3.0,109.0,1.0,Glen Eira,12.1,277.0,975000.0,3,1975.0
3,1.0,3.0,132.0,1.0,Moonee Valley,8.0,618.0,1290000.0,3,1960.0
4,1.0,2.0,86.0,1.0,Melbourne,4.2,0.0,500000.0,2,2000.0
...,...,...,...,...,...,...,...,...,...,...
805,1.0,2.0,106.0,1.0,Glen Eira,11.4,158.0,855000.0,2,1994.0
806,2.0,2.0,68.0,1.0,Yarra,2.6,0.0,696000.0,2,2008.0
807,1.0,2.0,82.0,1.0,Moreland,9.9,0.0,520000.0,2,2011.0
808,2.0,3.0,130.0,2.0,Maribyrnong,4.3,198.0,815000.0,3,1990.0
809,2.0,3.0,171.0,2.0,Bayside,11.2,0.0,1302500.0,3,1993.0

In [4]:
# split into df_y
s_y = df_main.copy()['Type']
s_y

0      t
1      t
2      u
3      h
4      u
      ..
805    t
806    u
807    t
808    t
809    h
Name: Type, Length: 810, dtype: object

## Q2 Define the entropy function
Implement a function `calc_entropy` that takes the labels series, s_y, as a parameter. Implement using the definition on p128 in the DM book and only pandas and log2 libraries

In [5]:
def calc_entropy(series):
    # get the ratio
    p = (series.value_counts(normalize = True, sort = False))
    return p.apply ( lambda x: -x*log2(x)).sum()

## Q3 Use the entropy function to
  - (a) Calculate the entropy of the entire training set
  - (b) Calculate the entropy of the three partitions formed from 
    * Landsize $\in$ (0,200]
    * Landsize $\in$ (200,450]
    * Landsize $\in$ (450, $\infty$)

In [6]:
calc_entropy(s_y)

1.582533311426178

In [7]:
def limit_landsize(xmin, xmax):
    df_copy = df_main.copy()
    # limit
    if xmax < xmin:
        df_copy = df_copy[(df_copy['Landsize'] > xmin)]
    else:
        df_copy = df_copy[(df_copy['Landsize'] > xmin) & (df_copy['Landsize'] <= xmax)]
    return df_copy['Type']

In [8]:
# entropy in landsize (0, 200]
s_0_200 = limit_landsize(0, 200)
print(s_0_200)
print(calc_entropy(s_0_200))

1      t
7      t
10     t
12     t
20     h
      ..
792    t
799    u
804    u
805    t
808    t
Name: Type, Length: 191, dtype: object
1.3977725338275826

In [9]:
# entropy in landsize (0, 200]
s_200_450 = limit_landsize(200, 450)
print(calc_entropy(s_200_450))

1.4660501816027978

In [10]:
# entropy in landsize (0, 200]
s_450_max = limit_landsize(450, -1)
print(calc_entropy(s_450_max))

1.09954792005911

## Q4 Define the Gini Index
Implement the function `calc_gini` that takes the labels series, s_y, as a parameter. Implement using the definition on p128 in the DM book.  Use only pandas library

In [11]:
def calc_gini(series):
    # get the ratio
    p = (series.value_counts(normalize = True, sort = False)).divide(len(series))
    return 1 - p.apply(lambda x: (x * x)).sum()

## Q5 Use the Gini Index function to
  - (a) Calculate the Gini index of the entire training set
  - (b) Calculate the Gini index of the three partitions formed from 
    * Landsize $\in$ (0,200]
    * Landsize $\in$ (200,450]
    * Landsize $\in$ (450, $\infty$)

In [12]:
calc_gini(s_y)

0.9999994902608261

In [13]:
# entropy in landsize (0, 200]
s_0_200 = limit_landsize(0, 200)
print(calc_gini(s_0_200))

0.9999884488517375

In [14]:
# entropy in landsize (0, 200]
s_200_450 = limit_landsize(200, 450)
print(calc_gini(s_200_450))

0.9999920169973641

In [15]:
# entropy in landsize (0, 200]
s_450_max = limit_landsize(450, -1)
print(calc_gini(s_450_max))

0.999987014455833

## Q6 Calculate Gain Ratio using unique council area
Calculate the gain ratio (p135) going from the root node, to splitting that node into 29 child nodes based on their `CouncilArea`, where each child node contains a single council area.

In [16]:
df_council_area = df_main['CouncilArea'].value_counts().index.tolist()

sum = 0
length_total = len(df_main['Type'])

for index in df_council_area:
    sector = df_main[df_main['CouncilArea'] == index]
    sector_type = sector['Type']
    ent = calc_entropy(sector_type)
    frac = len(sector) / length_total
    sum += frac * calc_entropy(sector_type)
    
gain_split = calc_entropy(df_main['Type']) - sum
split_info = calc_entropy(df_main['CouncilArea'])
gain_ratio = gain_split / split_info
gain_ratio

0.0233811909517147

## Q7 Create a decision tree 
Using [scikit-learn](https://scikit-learn.org/stable/modules/tree.html#tree) create a multi class classifer for the data set using the Entropy impurity measure and a max depth of 3

Note that scikit-learn's algorithm doesn't handle categorical data, so that needs to be preprocessed using an one hot encoding.

Display the tree using `export_text` from sklearn.tree, and use that information to write some descriptive analytics on the classification of houses.  For extra fun, use the export_graphviz to draw the graph (see documentation on the [scikit-learn webpage](https://scikit-learn.org/stable/modules/tree.html#classification).  If you are on a Windows system and get stuck reach out in the homework channel to see if anyone else could get it working for tips and tricks.  If enough people with Windows can't make the visualization, I won't count it toward the homework grade.

In [17]:
# create a one hot encoding
one_hot = pd.get_dummies(df_x['CouncilArea'])
df_x = pd.concat([df_x, one_hot], axis = 1)
df_x = df_x.drop('CouncilArea', 1)
df_x.head()

,Bathroom,Bedroom2,BuildingArea,Car,Distance,Landsize,Price,Rooms,YearBuilt,Banyule,...,Maribyrnong,Melbourne,Monash,Moonee Valley,Moreland,Port Phillip,Stonnington,Whitehorse,Wyndham,Yarra
0,1.0,2.0,99.0,1.0,13.8,0.0,771000.0,2,1992.0,0,...,0,0,0,0,0,0,0,0,0,0
1,2.0,3.0,110.0,1.0,7.9,189.0,700000.0,3,1990.0,1,...,0,0,0,0,0,0,0,0,0,0
2,2.0,3.0,109.0,1.0,12.1,277.0,975000.0,3,1975.0,0,...,0,0,0,0,0,0,0,0,0,0
3,1.0,3.0,132.0,1.0,8.0,618.0,1290000.0,3,1960.0,0,...,0,0,0,1,0,0,0,0,0,0
4,1.0,2.0,86.0,1.0,4.2,0.0,500000.0,2,2000.0,0,...,0,1,0,0,0,0,0,0,0,0

In [18]:
data_tree = tree.DecisionTreeClassifier(criterion="entropy", max_depth=3).fit(df_x, s_y)
show_tree = tree.export_text(data_tree)

print(show_tree)

|--- feature_8 <= 1977.50
|   |--- feature_7 <= 2.50
|   |   |--- feature_6 <= 915000.00
|   |   |   |--- class: u
|   |   |--- feature_6 >  915000.00
|   |   |   |--- class: h
|   |--- feature_7 >  2.50
|   |   |--- feature_5 <= 429.00
|   |   |   |--- class: h
|   |   |--- feature_5 >  429.00
|   |   |   |--- class: h
|--- feature_8 >  1977.50
|   |--- feature_2 <= 104.31
|   |   |--- feature_5 <= 76.00
|   |   |   |--- class: u
|   |   |--- feature_5 >  76.00
|   |   |   |--- class: t
|   |--- feature_2 >  104.31
|   |   |--- feature_5 <= 391.00
|   |   |   |--- class: t
|   |   |--- feature_5 >  391.00
|   |   |   |--- class: h

In [19]:
draw_tree = tree.export_graphviz(data_tree, feature_names=df_x.columns.to_list())
pic = graphviz.Source(draw_tree)
pic

ExecutableNotFound: failed to execute ['dot', '-Tsvg'], make sure the Graphviz executables are on your systems' PATH

Ideally I'd like to be able to see the tree in order to make an observation but I get an (ExecutableNotFound: failed to execute ['dot', '-Tsvg'], make sure the Graphviz executables are on your systems' PATH) I'm on linux btw. From the part of the tree that I can see, I see a lot of feature_5.

## Q8 Calculate the Accuracy and Display Learning Curve
Load in the test data.

Use the scikit-learn library to create decision trees with the following configurations

    - Vary the max level from 2 to 15 with the Gini Index as the impurity measure
    - Vary the max leven from 2 to 15 with the Entropy as the impurity measure


Evaluate the accuracy of each decision tree with both the 
  - Training set
  - Test set

Display the results graphicaly, and offer an analysis of the trend (or if no trend present, offer a hypotheisis of why).  The max number of levels should be on the x-axis, the error rate should be on the y-axis (see figure 3.23 for a similar graph).

In [22]:
# load test data
df_test = pd.read_csv("melb_tree_test.csv")
s_y_2 = df_test['Type']
df_x_2 = df_test.drop(columns = 'Type')

In [23]:
# do one hot encoding
one_hot_2 = pd.get_dummies(df_x_2['CouncilArea'])
df_x_2 = pd.concat([df_x_2, one_hot_2], axis = 1)
df_x_2 = df_x_2.drop('CouncilArea', 1)
df_x_2.head()

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Banyule,...,Maribyrnong,Melbourne,Monash,Moonee Valley,Moreland,Port Phillip,Stonnington,Whitehorse,Wyndham,Yarra
0,2,930000.0,2.6,2.0,1.0,1.0,97.0,85.0,2004.0,0,...,0,0,0,0,0,0,0,0,0,1
1,3,815000.0,11.0,3.0,2.0,2.0,159.0,130.0,2014.0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,638000.0,13.0,4.0,2.0,1.0,624.0,258.0,2005.0,0,...,0,0,0,0,1,0,0,0,0,0
3,2,595000.0,11.2,2.0,2.0,1.0,201.0,111.0,2005.0,0,...,0,0,0,0,1,0,0,0,0,0
4,3,620500.0,11.2,3.0,2.0,1.0,158.0,117.0,2011.0,0,...,0,0,0,0,0,0,0,0,0,0