## C S 363D HW 3

# Crossvalidation and hyperparameter selection

## Fronrich Puno frp323

For this week's homework we are going to explore the cross validation testing methodology and applying that to get error estimates on the two algorithms we've used so far:
  - Linear Regression
  - Decision Tree classification

In [1]:
# import the libraries! If you want to add things here for visualization, please do, 
# but only use sklearn when prompted
import pandas as pd
import numpy as np
from sklearn import tree 
from sklearn.datasets import load_iris
from sklearn.datasets import load_diabetes

# Part 1 - Calculate Generalized Error on Linear Regression with k-fold Cross Validation

## Q1.1 Load in the diabetes data set as a pandas dataframe and series.  
Documentation is [here](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html).  Name your features dataframe (the independent variables) `df_X` and your target (the dependent variable) series `s_y`

In [2]:
# Load Diabetes
df_X, s_y = load_diabetes(return_X_y = True, as_frame = True)

In [3]:
# sniff test df_X
df_X

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

In [4]:
#sniff test s_y
s_y

0      151.0
1       75.0
2      141.0
3      206.0
4      135.0
       ...
437    178.0
438    104.0
439    132.0
440    220.0
441     57.0
Name: target, Length: 442, dtype: float64

## Q1.2 Define a function that creates a linear least squares regression model 
This function should take in two parameters, `df_X`, and `s_y` and return the least squares regression model, $\hat{beta}$ (using the notation from the ESLII book chapter 3 and HW2).  You can not use any libraries outside of pandas and numpy.

In [5]:
def beta_hat(df_X, s_y):
    # define variables
    x = df_X
    y = s_y
    
    #Add intercept column
    intercept =  pd.Series(np.ones(len(df_X)), name="Intercept")
    x = pd.concat([intercept,x],axis=1)
    # convert to matrix
    x = x.to_numpy()
    # x = x.dropna()
    x_t = x.transpose()
    #Calculate beta_hat
    inv = np.linalg.inv(np.matmul(x_t, x))
    temp = np.matmul(inv, x_t)
    b_hat = np.matmul(temp, y)
    
    return x, b_hat, y

In [6]:
# test function
x, b_hat_test, y = beta_hat(df_X, s_y)
print(b_hat_test)

[ 152.13348416  -10.01219782 -239.81908937  519.83978679  324.39042769
 -792.18416163  476.74583782  101.04457032  177.06417623  751.27932109
   67.62538639]

## Q1.3 Define a function that partitions the dataframe and series data into dictionaries
This function should take in three parameters, `df_X`, `s_y`, and `k`, and returns a tuple of two dictionaries.
In both dictionaries the key is the `k` value (an integer from one to `k` inclusive).
The first dictionary will have the dataframe of the training data that contains approximately $\frac{1}{k}$ of the data (variation due to randomness is acceptable).
The second dictionary will have the series of the target data that contains approximately $\frac{1}{k}$ of the data (variation due to randomness is acceptable). Please note the targets _must match_ the same rows as the dataframe at this index, e.g, the length of the kth partition is the same for the dataframe and series.

Call that function with $k=5$ and create the dictionaries `dict_k_df_X` and `dict_k_s_y`. Print out the number of rows in each fold.  Check that the number of data points in each partition totals the number of data points in the entire dataset.

In [7]:
def create_dictionaries(df_X, s_y, k):
    # k - key value: int from (1, k]
    
    # dict_training - 1/k of df_X
    dict_training = {}
    # dict_target - 1/k of s_ya
    dict_target = {}
    # combine df_X and s_y
    df_all = pd.concat([df_X, s_y], axis=1)
    # create k keys for each dictionaries
    for x in range(1, k + 1):
        dict_training[x] = df_X.copy().sample(frac=(1/k), axis=0, random_state=1)
        dict_target[x] = s_y.copy().sample(frac=(1/k), axis=0)
    return dict_training, dict_target

In [8]:
dict_k_df_X, dict_k_s_y = create_dictionaries(df_X, s_y, 5)

In [9]:
#sniff test
dict_k_df_X

{1:           age       sex       bmi        bp        s1        s2        s3  \
 246  0.041708 -0.044642 -0.032073 -0.061904  0.079612  0.050982  0.056003
 425 -0.078165 -0.044642 -0.040696 -0.081414 -0.100638 -0.112795  0.022869
 293 -0.070900 -0.044642  0.092953  0.012691  0.020446  0.042527  0.000779
 31  -0.023677 -0.044642 -0.065486 -0.081414 -0.038720 -0.053610  0.059685
 359  0.038076  0.050680  0.005650  0.032201  0.006687  0.017475 -0.024993
 ..        ...       ...       ...       ...       ...       ...       ...
 40   0.005383  0.050680 -0.008362  0.021872  0.054845  0.073215 -0.024993
 277 -0.034575 -0.044642 -0.059019  0.001215 -0.053855 -0.078035  0.067048
 132  0.016281  0.050680 -0.021295 -0.009113  0.034206  0.047850  0.000779
 213  0.001751 -0.044642 -0.070875 -0.022885 -0.001569 -0.001001  0.026550
 286 -0.038207 -0.044642 -0.054707 -0.077971 -0.033216 -0.086490  0.140681

            s4        s5        s6
 246 -0.009972  0.045066 -0.059067
 425 -0.076395 -0.020289 -0.050783
 293  0.000360 -0.054544 -0.001078
 31  -0.076395 -0.037128 -0.042499
 359  0.034309  0.014823  0.061054
 ..        ...       ...       ...
 40   0.034309  0.012553  0.094191
 277 -0.076395 -0.021394  0.015491
 132 -0.002592 -0.012908  0.023775
 213 -0.039493 -0.022512  0.007207
 286 -0.076395 -0.019197 -0.005220

 [88 rows x 10 columns],
 2:           age       sex       bmi        bp        s1        s2        s3  \
 246  0.041708 -0.044642 -0.032073 -0.061904  0.079612  0.050982  0.056003
 425 -0.078165 -0.044642 -0.040696 -0.081414 -0.100638 -0.112795  0.022869
 293 -0.070900 -0.044642  0.092953  0.012691  0.020446  0.042527  0.000779
 31  -0.023677 -0.044642 -0.065486 -0.081414 -0.038720 -0.053610  0.059685
 359  0.038076  0.050680  0.005650  0.032201  0.006687  0.017475 -0.024993
 ..        ...       ...       ...       ...       ...       ...       ...
 40   0.005383  0.050680 -0.008362  0.021872  0.054845  0.073215 -0.024993
 277 -0.034575 -0.044642 -0.059019  0.001215 -0.053855 -0.078035  0.067048
 132  0.016281  0.050680 -0.021295 -0.009113  0.034206  0.047850  0.000779
 213  0.001751 -0.044642 -0.070875 -0.022885 -0.001569 -0.001001  0.026550
 286 -0.038207 -0.044642 -0.054707 -0.077971 -0.033216 -0.086490  0.140681

            s4        s5        s6
 246 -0.009972  0.045066 -0.059067
 425 -0.076395 -0.020289 -0.050783
 293  0.000360 -0.054544 -0.001078
 31  -0.076395 -0.037128 -0.042499
 359  0.034309  0.014823  0.061054
 ..        ...       ...       ...
 40   0.034309  0.012553  0.094191
 277 -0.076395 -0.021394  0.015491
 132 -0.002592 -0.012908  0.023775
 213 -0.039493 -0.022512  0.007207
 286 -0.076395 -0.019197 -0.005220

 [88 rows x 10 columns],
 3:           age       sex       bmi        bp        s1        s2        s3  \
 246  0.041708 -0.044642 -0.032073 -0.061904  0.079612  0.050982  0.056003
 425 -0.078165 -0.044642 -0.040696 -0.081414 -0.100638 -0.112795  0.022869
 293 -0.070900 -0.044642  0.092953  0.012691  0.020446  0.042527  0.000779
 31  -0.023677 -0.044642 -0.065486 -0.081414 -0.038720 -0.053610  0.059685
 359  0.038076  0.050680  0.005650  0.032201  0.006687  0.017475 -0.024993
 ..        ...       ...       ...       ...       ...       ...       ...
 40   0.005383  0.050680 -0.008362  0.021872  0.054845  0.073215 -0.024993
 277 -0.034575 -0.044642 -0.059019  0.001215 -0.053855 -0.078035  0.067048
 132  0.016281  0.050680 -0.021295 -0.009113  0.034206  0.047850  0.000779
 213  0.001751 -0.044642 -0.070875 -0.022885 -0.001569 -0.001001  0.026550
 286 -0.038207 -0.044642 -0.054707 -0.077971 -0.033216 -0.086490  0.140681

            s4        s5        s6
 246 -0.009972  0.045066 -0.059067
 425 -0.076395 -0.020289 -0.050783
 293  0.000360 -0.054544 -0.001078
 31  -0.076395 -0.037128 -0.042499
 359  0.034309  0.014823  0.061054
 ..        ...       ...       ...
 40   0.034309  0.012553  0.094191
 277 -0.076395 -0.021394  0.015491
 132 -0.002592 -0.012908  0.023775
 213 -0.039493 -0.022512  0.007207
 286 -0.076395 -0.019197 -0.005220

 [88 rows x 10 columns],
 4:           age       sex       bmi        bp        s1        s2        s3  \
 246  0.041708 -0.044642 -0.032073 -0.061904  0.079612  0.050982  0.056003
 425 -0.078165 -0.044642 -0.040696 -0.081414 -0.100638 -0.112795  0.022869
 293 -0.070900 -0.044642  0.092953  0.012691  0.020446  0.042527  0.000779
 31  -0.023677 -0.044642 -0.065486 -0.081414 -0.038720 -0.053610  0.059685
 359  0.038076  0.050680  0.005650  0.032201  0.006687  0.017475 -0.024993
 ..        ...       ...       ...       ...       ...       ...       ...
 40   0.005383  0.050680 -0.008362  0.021872  0.054845  0.073215 -0.024993
 277 -0.034575 -0.044642 -0.059019  0.001215 -0.053855 -0.078035  0.067048
 132  0.016281  0.050680 -0.021295 -0.009113  0.034206  0.047850  0.000779
 213  0.001751 -0.044642 -0.070875 -0.022885 -0.001569 -0.001001  0.026550
 286 -0.038207 -0.044642 -0.054707 -0.077971 -0.033216 -0.086490  0.140681

            s4        s5        s6
 246 -0.009972  0.045066 -0.059067
 425 -0.076395 -0.020289 -0.050783
 293  0.000360 -0.054544 -0.001078
 31  -0.076395 -0.037128 -0.042499
 359  0.034309  0.014823  0.061054
 ..        ...       ...       ...
 40   0.034309  0.012553  0.094191
 277 -0.076395 -0.021394  0.015491
 132 -0.002592 -0.012908  0.023775
 213 -0.039493 -0.022512  0.007207
 286 -0.076395 -0.019197 -0.005220

 [88 rows x 10 columns],
 5:           age       sex       bmi        bp        s1        s2        s3  \
 246  0.041708 -0.044642 -0.032073 -0.061904  0.079612  0.050982  0.056003
 425 -0.078165 -0.044642 -0.040696 -0.081414 -0.100638 -0.112795  0.022869
 293 -0.070900 -0.044642  0.092953  0.012691  0.020446  0.042527  0.000779
 31  -0.023677 -0.044642 -0.065486 -0.081414 -0.038720 -0.053610  0.059685
 359  0.038076  0.050680  0.005650  0.032201  0.006687  0.017475 -0.024993
 ..        ...       ...       ...       ...       ...       ...       ...
 40   0.005383  0.050680 -0.008362  0.021872  0.054845  0.073215 -0.024993
 277 -0.034575 -0.044642 -0.059019  0.001215 -0.053855 -0.078035  0.067048
 132  0.016281  0.050680 -0.021295 -0.009113  0.034206  0.047850  0.000779
 213  0.001751 -0.044642 -0.070875 -0.022885 -0.001569 -0.001001  0.026550
 286 -0.038207 -0.044642 -0.054707 -0.077971 -0.033216 -0.086490  0.140681

            s4        s5        s6
 246 -0.009972  0.045066 -0.059067
 425 -0.076395 -0.020289 -0.050783
 293  0.000360 -0.054544 -0.001078
 31  -0.076395 -0.037128 -0.042499
 359  0.034309  0.014823  0.061054
 ..        ...       ...       ...
 40   0.034309  0.012553  0.094191
 277 -0.076395 -0.021394  0.015491
 132 -0.002592 -0.012908  0.023775
 213 -0.039493 -0.022512  0.007207
 286 -0.076395 -0.019197 -0.005220

 [88 rows x 10 columns]}

In [10]:
# sniff test
dict_k_s_y

{1: 211     70.0
 282    230.0
 37     276.0
 255    153.0
 304    253.0
        ...
 298    129.0
 349     88.0
 301     65.0
 218    214.0
 397    198.0
 Name: target, Length: 88, dtype: float64,
 2: 162    172.0
 262    308.0
 254    310.0
 377    235.0
 105     53.0
        ...
 419     42.0
 437    178.0
 320    122.0
 92      48.0
 99      83.0
 Name: target, Length: 88, dtype: float64,
 3: 303    236.0
 146    178.0
 168    268.0
 124    121.0
 128    115.0
        ...
 245    125.0
 341    263.0
 353    109.0
 52      59.0
 314    147.0
 Name: target, Length: 88, dtype: float64,
 4: 21      49.0
 388    110.0
 113    297.0
 207    202.0
 244    187.0
        ...
 353    109.0
 9      310.0
 294     55.0
 184    265.0
 392    118.0
 Name: target, Length: 88, dtype: float64,
 5: 336    306.0
 166     70.0
 266     45.0
 94      90.0
 238    257.0
        ...
 377    235.0
 291    248.0
 99      83.0
 181     64.0
 298    129.0
 Name: target, Length: 88, dtype: float64}

## Q1.4 Define a function that calculates a regression metric
This function should accept two series of equal length $n$ numpy arrays, `s_y`, and `s_y_hat`. The metric it should calculate is the mean absolute error, $MAE = \sum\limits_{i=1}^n\frac{|{s\_y_i - {s\_y\_hat}_i}|}{n}$ 

Test your function by using the vectors:
```
x = np.array([1,2,3])
y = np.array([2,2,3])
```

In [11]:
def calc_MAE(array_1, array_2):
    length = len(array_1)
    sum = 0
    for x in range (length):
        sum += abs(array_1[x] - array_2[x])
    mae = sum / length
    return mae

In [12]:
x = np.array([1,2,3])
y = np.array([2,2,3])
mae = calc_MAE(x,y)
print("MAE: " + str(mae))

MAE: 0.3333333333333333

## Q1.5 Calculate the $MAE$ for each fold
For each fold in your dictionaries, calculate the $MAE$.  Use the partition number key as the test set, and all other partitions as the train set. 

Print the min, max, and mean $MAE$ of your 5 folds.

In [13]:
# get s_y_hat
x, b_hat, y = beta_hat(df_X, s_y)
s_y_hat = np.matmul(x, b_hat)
# print(s_y_hat)
# see if these are equal lengths
print(len(s_y_hat))
print(len(s_y))

442
442

In [14]:
# use calc_MAE on all folds
mae_map = []
for x in dict_k_s_y:
    mae_map.append(calc_MAE(s_y, s_y_hat))
print(mae_map)

[43.277395083749866, 43.277395083749866, 43.277395083749866, 43.277395083749866, 43.277395083749866]

In [15]:
# display min, max, and mean
print("MIN: " + str(np.min(mae_map)))
print("MAX: " + str(np.max(mae_map)))
print("MEAN: " + str(np.mean(mae_map)))

MIN: 43.277395083749866
MAX: 43.277395083749866
MEAN: 43.277395083749866

# Part 2 - Find the best hyperparameter to use in a Decision Tree

## Q2.1 Load the iris data in as a pandas dataframe and a series
Documentation is [here](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_iris.html). Name your features dataframe (the independent variables) `df_X` and your classification target (the dependent variable) series `s_y`

In [16]:
# Load Iris
df_X, s_y = load_iris(return_X_y = True, as_frame = True)

In [17]:
# sniff test df_X
df_X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [18]:
#sniff test s_y
s_y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int64

## Q2.2 Partition `df_X` and `s_y` into $5$ partitions of roughly equal size
Make 2 dictionaries, with the key of each dictionary the fold number.  The value of the dictionary `dict_df_X` is the $k^{th}$ partition of the data, and the value of the dictionary `dict_s_y` is the corresponding $k^{th}$ target classification.  Print out the number of rows in each fold.  Check that the number of data points in each partition totals the number of data points in the entire dataset.

In [19]:
dict_k_df_X, dict_k_s_y = create_dictionaries(df_X, s_y, 5)

In [20]:
#sniff test
dict_k_df_X

{1:      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
 14                 5.8               4.0                1.2               0.2
 98                 5.1               2.5                3.0               1.1
 75                 6.6               3.0                4.4               1.4
 16                 5.4               3.9                1.3               0.4
 131                7.9               3.8                6.4               2.0
 56                 6.3               3.3                4.7               1.6
 141                6.9               3.1                5.1               2.3
 44                 5.1               3.8                1.9               0.4
 29                 4.7               3.2                1.6               0.2
 120                6.9               3.2                5.7               2.3
 94                 5.6               2.7                4.2               1.3
 5                  5.4               3.9                1.7               0.4
 102                7.1               3.0                5.9               2.1
 51                 6.4               3.2                4.5               1.5
 78                 6.0               2.9                4.5               1.5
 42                 4.4               3.2                1.3               0.2
 92                 5.8               2.6                4.0               1.2
 66                 5.6               3.0                4.5               1.5
 31                 5.4               3.4                1.5               0.4
 35                 5.0               3.2                1.2               0.2
 90                 5.5               2.6                4.4               1.2
 84                 5.4               3.0                4.5               1.5
 77                 6.7               3.0                5.0               1.7
 40                 5.0               3.5                1.3               0.3
 125                7.2               3.2                6.0               1.8
 99                 5.7               2.8                4.1               1.3
 33                 5.5               4.2                1.4               0.2
 19                 5.1               3.8                1.5               0.3
 73                 6.1               2.8                4.7               1.2
 146                6.3               2.5                5.0               1.9,
 2:      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
 14                 5.8               4.0                1.2               0.2
 98                 5.1               2.5                3.0               1.1
 75                 6.6               3.0                4.4               1.4
 16                 5.4               3.9                1.3               0.4
 131                7.9               3.8                6.4               2.0
 56                 6.3               3.3                4.7               1.6
 141                6.9               3.1                5.1               2.3
 44                 5.1               3.8                1.9               0.4
 29                 4.7               3.2                1.6               0.2
 120                6.9               3.2                5.7               2.3
 94                 5.6               2.7                4.2               1.3
 5                  5.4               3.9                1.7               0.4
 102                7.1               3.0                5.9               2.1
 51                 6.4               3.2                4.5               1.5
 78                 6.0               2.9                4.5               1.5
 42                 4.4               3.2                1.3               0.2
 92                 5.8               2.6                4.0               1.2
 66                 5.6               3.0                4.5               1.5
 31                 5.4               3.4                1.5               0.4
 35                 5.0               3.2                1.2               0.2
 90                 5.5               2.6                4.4               1.2
 84                 5.4               3.0                4.5               1.5
 77                 6.7               3.0                5.0               1.7
 40                 5.0               3.5                1.3               0.3
 125                7.2               3.2                6.0               1.8
 99                 5.7               2.8                4.1               1.3
 33                 5.5               4.2                1.4               0.2
 19                 5.1               3.8                1.5               0.3
 73                 6.1               2.8                4.7               1.2
 146                6.3               2.5                5.0               1.9,
 3:      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
 14                 5.8               4.0                1.2               0.2
 98                 5.1               2.5                3.0               1.1
 75                 6.6               3.0                4.4               1.4
 16                 5.4               3.9                1.3               0.4
 131                7.9               3.8                6.4               2.0
 56                 6.3               3.3                4.7               1.6
 141                6.9               3.1                5.1               2.3
 44                 5.1               3.8                1.9               0.4
 29                 4.7               3.2                1.6               0.2
 120                6.9               3.2                5.7               2.3
 94                 5.6               2.7                4.2               1.3
 5                  5.4               3.9                1.7               0.4
 102                7.1               3.0                5.9               2.1
 51                 6.4               3.2                4.5               1.5
 78                 6.0               2.9                4.5               1.5
 42                 4.4               3.2                1.3               0.2
 92                 5.8               2.6                4.0               1.2
 66                 5.6               3.0                4.5               1.5
 31                 5.4               3.4                1.5               0.4
 35                 5.0               3.2                1.2               0.2
 90                 5.5               2.6                4.4               1.2
 84                 5.4               3.0                4.5               1.5
 77                 6.7               3.0                5.0               1.7
 40                 5.0               3.5                1.3               0.3
 125                7.2               3.2                6.0               1.8
 99                 5.7               2.8                4.1               1.3
 33                 5.5               4.2                1.4               0.2
 19                 5.1               3.8                1.5               0.3
 73                 6.1               2.8                4.7               1.2
 146                6.3               2.5                5.0               1.9,
 4:      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
 14                 5.8               4.0                1.2               0.2
 98                 5.1               2.5                3.0               1.1
 75                 6.6               3.0                4.4               1.4
 16                 5.4               3.9                1.3               0.4
 131                7.9               3.8                6.4               2.0
 56                 6.3               3.3                4.7               1.6
 141                6.9               3.1                5.1               2.3
 44                 5.1               3.8                1.9               0.4
 29                 4.7               3.2                1.6               0.2
 120                6.9               3.2                5.7               2.3
 94                 5.6               2.7                4.2               1.3
 5                  5.4               3.9                1.7               0.4
 102                7.1               3.0                5.9               2.1
 51                 6.4               3.2                4.5               1.5
 78                 6.0               2.9                4.5               1.5
 42                 4.4               3.2                1.3               0.2
 92                 5.8               2.6                4.0               1.2
 66                 5.6               3.0                4.5               1.5
 31                 5.4               3.4                1.5               0.4
 35                 5.0               3.2                1.2               0.2
 90                 5.5               2.6                4.4               1.2
 84                 5.4               3.0                4.5               1.5
 77                 6.7               3.0                5.0               1.7
 40                 5.0               3.5                1.3               0.3
 125                7.2               3.2                6.0               1.8
 99                 5.7               2.8                4.1               1.3
 33                 5.5               4.2                1.4               0.2
 19                 5.1               3.8                1.5               0.3
 73                 6.1               2.8                4.7               1.2
 146                6.3               2.5                5.0               1.9,
 5:      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
 14                 5.8               4.0                1.2               0.2
 98                 5.1               2.5                3.0               1.1
 75                 6.6               3.0                4.4               1.4
 16                 5.4               3.9                1.3               0.4
 131                7.9               3.8                6.4               2.0
 56                 6.3               3.3                4.7               1.6
 141                6.9               3.1                5.1               2.3
 44                 5.1               3.8                1.9               0.4
 29                 4.7               3.2                1.6               0.2
 120                6.9               3.2                5.7               2.3
 94                 5.6               2.7                4.2               1.3
 5                  5.4               3.9                1.7               0.4
 102                7.1               3.0                5.9               2.1
 51                 6.4               3.2                4.5               1.5
 78                 6.0               2.9                4.5               1.5
 42                 4.4               3.2                1.3               0.2
 92                 5.8               2.6                4.0               1.2
 66                 5.6               3.0                4.5               1.5
 31                 5.4               3.4                1.5               0.4
 35                 5.0               3.2                1.2               0.2
 90                 5.5               2.6                4.4               1.2
 84                 5.4               3.0                4.5               1.5
 77                 6.7               3.0                5.0               1.7
 40                 5.0               3.5                1.3               0.3
 125                7.2               3.2                6.0               1.8
 99                 5.7               2.8                4.1               1.3
 33                 5.5               4.2                1.4               0.2
 19                 5.1               3.8                1.5               0.3
 73                 6.1               2.8                4.7               1.2
 146                6.3               2.5                5.0               1.9}

In [21]:
# sniff test
dict_k_s_y

{1: 21     0
 40     0
 59     1
 133    2
 56     1
 22     0
 69     1
 12     0
 79     1
 143    2
 27     0
 65     1
 122    2
 76     1
 77     1
 9      0
 115    2
 26     0
 129    2
 8      0
 102    2
 47     0
 23     0
 90     1
 130    2
 100    2
 99     1
 0      0
 75     1
 106    2
 Name: target, dtype: int64,
 2: 106    2
 74     1
 85     1
 131    2
 44     0
 147    2
 42     0
 122    2
 2      0
 111    2
 34     0
 12     0
 17     0
 143    2
 123    2
 1      0
 11     0
 5      0
 105    2
 107    2
 32     0
 58     1
 135    2
 144    2
 81     1
 118    2
 91     1
 24     0
 70     1
 125    2
 Name: target, dtype: int64,
 3: 5      0
 27     0
 66     1
 67     1
 141    2
 122    2
 108    2
 130    2
 11     0
 114    2
 7      0
 15     0
 147    2
 101    2
 82     1
 34     0
 128    2
 77     1
 79     1
 52     1
 1      0
 127    2
 119    2
 138    2
 33     0
 95     1
 41     0
 140    2
 4      0
 14     0
 Name: target, dtype: int64,
 4: 12     0
 54     1
 68     1
 56     1
 123    2
 94     1
 9      0
 86     1
 128    2
 90     1
 46     0
 114    2
 112    2
 126    2
 104    2
 36     0
 127    2
 60     1
 5      0
 29     0
 14     0
 32     0
 59     1
 105    2
 96     1
 83     1
 120    2
 45     0
 97     1
 70     1
 Name: target, dtype: int64,
 5: 69     1
 141    2
 74     1
 55     1
 103    2
 78     1
 97     1
 143    2
 25     0
 6      0
 7      0
 20     0
 126    2
 16     0
 14     0
 110    2
 31     0
 18     0
 3      0
 27     0
 87     1
 96     1
 4      0
 119    2
 36     0
 1      0
 26     0
 0      0
 40     0
 11     0
 Name: target, dtype: int64}

In [22]:
# get lengths
for x in dict_k_df_X:
    print("Length of fold " + str(x) + " in dict_k_df_X: " + str(len(dict_k_df_X[x])))
    print("Length of fold " + str(x) + " in dict_k_s_y: " + str(len(dict_k_s_y[x])))
    print()

Length of fold 1 in dict_k_df_X: 30
Length of fold 1 in dict_k_s_y: 30

Length of fold 2 in dict_k_df_X: 30
Length of fold 2 in dict_k_s_y: 30

Length of fold 3 in dict_k_df_X: 30
Length of fold 3 in dict_k_s_y: 30

Length of fold 4 in dict_k_df_X: 30
Length of fold 4 in dict_k_s_y: 30

Length of fold 5 in dict_k_df_X: 30
Length of fold 5 in dict_k_s_y: 30

## Q2.3 Define a function that calculates accuracy
The function should accept two series and compare each element for equality.  The accuracy is the number of equal elements divided by the total number of elements.

Test your accuracy function by calling it with the `s_y` loaded from the iris data set and an array of the same length containing all $1$ values.

In [26]:
# define array of 1s
ones =  pd.Series(np.ones(len(s_y)))
# sniff
print(ones)
print(s_y)

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
145    1.0
146    1.0
147    1.0
148    1.0
149    1.0
Length: 150, dtype: float64
0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int64

In [37]:
# create accuracy function
def get_accuracy(series_1, series_2):
    total = len(series_1)
    equal_elements = series_1 == series_2
    num = len(np.where(equal_elements)[0])
    return num / total

In [38]:
# test accuracy function
acc = get_accuracy(s_y, ones)
print("Accuracy: " + str(acc))

Accuracy: 0.3333333333333333

## Q2.4 Using Nested Cross validation, find the best hyperparameter
Use the [Decision Tree Classifier](https://scikit-learn.org/stable/modules/tree.html#classification) class to build a decision tree inside of a 5-fold cross validation loop.  The partitions you already created in 2.2 will be the outer loop.  In the inside loop you should use 4-fold cross validation (so you don't have to partition _again_) to find the best value for `min_impurity_decrease`.  Use the Gini Index as your impurity measure. 
    Calculate the mean accuracy across the 4 folds of your inner loop for all the candidate `min_impurity_decrease` values, and print the value.  Use the array `np.array([0.1,0.25,0.3,0.4])` to search for the best hyperparameter. 

For each inner loop, select the best `min_impurity_decrease` and train the outer fold training data on using that value. 

For each inner loop, your output should look something like this:
```
Testing 0.10 min impurity decrease
	Average accuracy over 4 folds is 0.95
Testing 0.25 min impurity decrease
	Average accuracy over 4 folds is 0.86
Testing 0.30 min impurity decrease
	Average accuracy over 4 folds is 0.63
Testing 0.40 min impurity decrease
	Average accuracy over 4 folds is 0.27

Best min impurity decrease is 0.1

```

## Q2.5 Show the generalized performance of the classifier 
Show the generalized performance of the classifier by printing the min, max, and mean accuracy of the outer fold test and train sets.